ALTER TABLE users DISABLE ROW LEVEL SECURITY;
ALTER TABLE recyclers DISABLE ROW LEVEL SECURITY;
ALTER TABLE waste_requests DISABLE ROW LEVEL SECURITY;
ALTER TABLE payments DISABLE ROW LEVEL SECURITY;
ALTER TABLE history DISABLE ROW LEVEL SECURITY;
ALTER TABLE notifications DISABLE ROW LEVEL SECURITY;
ALTER TABLE rewards DISABLE ROW LEVEL SECURITY;
ALTER TABLE analytics DISABLE ROW LEVEL SECURITY;
ALTER TABLE tracking DISABLE ROW LEVEL SECURITY;
ALTER TABLE locations DISABLE ROW LEVEL SECURITY;
ALTER TABLE recycler_requests DISABLE ROW LEVEL SECURITY;
ALTER TABLE recycler_weight_entries DISABLE ROW LEVEL SECURITY;
ALTER TABLE recycler_payments DISABLE ROW LEVEL SECURITY;
ALTER TABLE recycler_celebrations DISABLE ROW LEVEL SECURITY;
ALTER TABLE text_recycler_requests DISABLE ROW LEVEL SECURITY;
ALTER TABLE call_recycler_requests DISABLE ROW LEVEL SECURITY;
ALTER TABLE onboarding_data DISABLE ROW LEVEL SECURITY;
ALTER TABLE privacy_settings DISABLE ROW LEVEL SECURITY;
ALTER TABLE support_requests DISABLE ROW LEVEL SECURITY;
ALTER TABLE performance_metrics DISABLE ROW LEVEL SECURITY;
